
.lBotonPrim{
    background-color: rgb(var(--botonprim));
    cursor: pointer;
    color: rgb(var(--fondo));
    border: none;
    padding: 7px;
    letter-spacing: 1px;
    width: 92px;
    border-radius: 5px;
}
.sBotonPrim{
    background-color: rgb(var(--botonprim));
    font-size: 10.5px;
    cursor: pointer;
    color: rgb(var(--fondo));
    border: none;
    padding: 6px;
    letter-spacing: 0.35px;
    font-weight: 700;
    width: 64px;
    border-radius: 2.5px; 
}
.lBotonSec{
    background-color: rgb(var(--botonsec));
    border: none;
    cursor: pointer;
    color: rgb(var(--texto));
    padding: 7px;
    font-weight: 700;
    width: 92px;
    border-radius: 5px;
}
.sBotonSec{
    background-color: rgb(var(--botonsec));
    border: none;
    cursor: pointer;
    color: rgb(var(--texto));
    font-size: 10.5px;
    padding: 6px;
    font-weight: 700;
    width: 64px; 
    border-radius: 2.5px;
}