.corazonesRellenos {
    width: 16px;
    height: 16px;
}
.corazonesHuecos {
    width: 16px;
    height: 16px;
}
.listaCorazones {
    display: flex;
    width: 88px;
    justify-content: space-between;
}
