.container{
    background-color: rgb(var(--extraenfasis),0.6);
    display: flex;
    padding: 7px;
    color: rgb(var(--texto), 0.9);
    margin-bottom: 5px;
    width: max-content;
    height: 1.5rem;
    border-radius: 50px 10px 10px 50px;
    align-items: center;
    font-size: var(--font-small);
}
.smallContainer{
    background-color: rgb(var(--extraenfasis),0.6);
    display: flex;
    padding: 3.5px;
    color: rgb(var(--texto), 0.9);
    margin-bottom: 5px;
    width: max-content;
    height: 1.25rem;
    border-radius: 50px 10px 10px 50px;
    align-items: center;
    font-size: var(--font-extrasmall);
}
.round{
    border-radius: 50%;
    width: 0.75rem;
    height: 0.75rem;
    margin-right: 5px;
}
.smallRound{
    border-radius: 50%;
    width: 0.62rem;
    height: 0.62rem;
    margin-right: 5px;
}
.enfasis{
    background-color: rgb(var(--fondoenfasis));
}
.fondo{
    background-color: rgb(var(--fondo))
}