.card {
    background-color: rgb(var(--color-accent));
    border: 0.2rem solid rgb(var(--color-tertiary));
    border-radius: 2rem;
  
    -webkit-box-shadow: 0.625rem 12px 16px 4px rgba(0,0,0,0.11);
    -moz-box-shadow: 0.625rem 12px 16px 4px rgba(0,0,0,0.11);
    box-shadow: 0.625rem 12px 16px 4px rgba(0,0,0,0.11);
  
  }
  .innerContainer{
    margin: 0.5rem;
    width: 12.5rem;
  }
  .cardContent {
    flex: 1;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
  }
  .cardTitle {
    font-size: 14px;
    margin-bottom: 0.5rem;
  }
  .cardAuthor{
    font-size: var(--font-small);
  }
  
  .cardCategories{
    display: flex;
    flex-wrap: wrap;
    gap:0.22rem;
  }

  
  .cardFooter{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin-bottom: 20px;
  }