.card {
    width: 320px;
    height: 300px;
    display: grid;
    grid-template-areas: 'img cont'
                        'img cat'
                        'img foot';
    background-color: rgb(var(--fondoenfasis));
    border-radius: 1rem;
  
    /*-webkit-box-shadow: 10px 12px 16px 4px rgba(0,0,0,0.11);
    -moz-box-shadow: 10px 12px 16px 4px rgba(0,0,0,0.11);
    box-shadow: 10px 12px 16px 4px rgba(0,0,0,0.11);*/
  
  }
  
  .cardImage {
    grid-area: img;
    width: 120px;
    margin: 5px;
    display: flex;
  }
  .portada{
    width: 120px;
    align-items: center;
    justify-content: center;
  }
  
  .cardContent {
    grid-area: cont;
    flex: 1;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    width: 180px;
  }
  .cardTitle {
    margin-bottom: 0.5rem;
  }
  
  .cardCategories{
    grid-area: cat;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  .cardFooter{
    grid-area: foot;
    display: flex;
    align-items: flex-end;
    margin: 0px 5px 10px 0px;
    justify-content: space-around;
    gap: 2px;
  }