:root {
  --color-primary: 65, 103,136;
  --color-secondary: 181, 186,208;
  --color-tertiary: 115, 137, 174;
  --color-accent: 129, 210, 199;

  --color-bg: 224, 224, 226;

  --color-white: 255,255,255;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 1px solid lime;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(var(--color-bg));
}

a {
  color: inherit;
  text-decoration: none;
}

#__next {
  height: 100%;
  width: 100%;
}

.main {
  width: 100%;
  height: 100%;
}