.container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchInputContainer {
  width: clamp(19rem, 40%, 25rem);
  height: 2rem;
}

.booklistContainer {
  margin-top: 2rem;
  width: 100%;
  flex: 1;
  display: flex;
  gap: 1rem;
}

.card {
  width: 400px;
  height: 300px;
  display: flex;
  background-color: rgb(var(--color-accent));
  border: 0.25rem solid rgb(var(--color-tertiary));
  border-radius: 2rem;
}

.cardImage {
  width: 150px;
}

.cardContent {
  flex: 1;
  padding: 0.2rem;
}

.cardTitle {
  margin-bottom: 0.5rem;
}