.container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchInputContainer {
  width: clamp(19rem, 40%, 25rem);
  height: 2rem;
}

.booklistContainer {
  width: 100%;
  flex: 1;
}