.volver{
    border: none;
    font-size: 24px;
    background-color: rgb(var(--fondo));
    font-weight: 700;
    padding: 1rem;
}
.volver:hover{
    letter-spacing: -5px;
    transition: letter-spacing 0.3s ease;
}


.card {
    display: grid;
    grid-template-areas: 'img info'
        'img cat'
        'img sinopsis'
        'foot sinopsis';
    grid-template-columns: clamp(150px, 45% ,450px) clamp(150px, 55% ,auto);

    -webkit-box-shadow: 10px 12px 16px 4px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 10px 12px 16px 4px rgba(0, 0, 0, 0.11);
    box-shadow: 10px 12px 16px 4px rgba(0, 0, 0, 0.11);
    width: 95%;
}

.cardImage {
    grid-area: img;
    margin: 5px;
    display: flex;
}

.portada {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.cardContent {
    grid-area: info;
    flex: 1;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
}

.cardTitle {
    margin-bottom: 0.5rem;
}

.cardCategories {
    grid-area: cat;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.sinopsis{
    grid-area: sinopsis;
    text-align: justify;
    width: 95%;
}

.cardFooter {
    grid-area: foot;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recomendados{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 0.25rem;
    justify-content: flex-start
}
.recomContainer {
    width: 95%;
}
.resenhasContainer{
    width: 95%;
}
.h2secc{
    text-align: center;
    border-bottom: 6px solid rgb(var(--fondoenfasis));
    margin-bottom: 1rem;
}
